<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head') %>

    <body>
        
        <%- include('../partials/header') %>

        <main>
        <section class="list_of_products">
            <article> 
                <img src="#" alt="#">
                <div>
                    <p class="product_name">Shirt</p>
                    <p class="color">Blue</p>
                    <p class="size">Large</p>
                </div>
            </article>
            <article> 
                <img src="#" alt="#">
                <div>
                    <p class="product_name">Leggin</p>
                    <p class="color">Red</p>
                    <p class="size">Small</p>
                </div>
            </article>
            <article> 
                <img src="#" alt="#">
                <div>
                    <p class="product_name">Short</p>
                    <p class="color">Green</p>
                    <p class="size">XSmall</p>
                </div>
            </article>
            <!-- FALTA CODIGO EJS PARA REPETIR PRODUCTOS -->
        </section>  
        <div>   
            <div class="button">Button</div>
            <!-- <button> BOTON DE "Seguir comprando" </button> -->
        </div>
        <section class="order_details">
        </section>
        <section class="recommended_products">
        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>