<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head', {title: 'Crear producto', estilo:'/stylesheets/usersRegister-style.css'}) %>

    <body>
        
        <%- include('../partials/header') %>

        <main class="main-container">    
            <form action="/products/create" method="post" enctype="multipart/form-data">
            <div>     
                <h2 class="products-title"> Formulario de Creacion de Productos</i></h2> 
            </div>
                    <!-- name -->
                <div class="campo">
                    <label for="nombre" class="form-label">Nombre: </label>
                    <input class="nombre_y_apellido" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre de la nueva cayrgoria" minlength="8"required>
                    <span class="feedback"></span>
       


                <div class="botones">
                    <button type="submit">Guardar</button>
                    <button type="reset" >Borrar</button>
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>
        
    </body>
</html>
