*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    
}
.purchase_warning{
    color: rgb(0, 132, 160);
    padding: 2px;
    border-bottom: solid 1.5px rgb(0, 132, 160);
    border-radius: 2%;
    align-content: center;
    margin: 0.5% 0 2%;
    width: 95%;
    font-weight:lighter;
}

.added_product {
    color: rgb(0, 132, 160);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 3px rgb(0, 132, 160);
    margin: 1% 1% 3% ;
}

#product_name{
    width: 99%;
    margin: 2%;
    align-self: flex-start;
} 
#product_image{
    width: 48%;
    height: 100%;
    margin: 1%;
    padding: 2%;
}
.product_info  {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    width: 48%;
    margin: 1%;
    justify-content: space-around;

}
.product_info p{
    font-size: small;
    width: 90%;
    text-align: left;
    align-self: center;
}

section .checkout {
    display: flex;
    flex-wrap: wrap;
    
}

#keep_buying{
    margin: 2% 20%;
}

#checkout_title{
    color: rgb(0, 132, 160);
    margin: 2% 15%;   
}
.purchase_summary{
    display: flex;
    flex-wrap: wrap;
    border: solid 2px rgb(0, 132, 160);
    border-radius: 15%;
}
.purchase_summary strong{
    width: 75%;
    margin: 2% 1.5% ;
    font-size: small;
}

.recommended_items {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    border-top: solid 3px rgb(0, 132, 160);
    padding: 4%;
    margin: 4% 1% 2%;
}
.recommended_items_title{
    width: 96%;
    
}
.recommended_products{
    width: 48%;
}
.recommended_products img{
    height: 80%;
}
.recommended_items p {
    color: rgb(0, 132, 160);
    font-size: small;
}