*{
    box-sizing: border-box;
}

.titulo{
    text-align: center;
    font-size: 120%;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 30%;
    text-align: center;
}
.nav{
    display: flex;
    flex-direction: row;
    font-size: 100%;
    align-items:center;
    justify-content: center;
    padding: 1rem;
}
.nav a{
    padding: 1rem;
    
}
.nombreLogo{
    font-family: 'Mr De Haviland', cursive;
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    color: var(--Logo);
    margin: 0;
}

