root{
    color:blue;
}

main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedor-main-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedor-main-rutas{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.contenedor-main-productos-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 1rem 0;
    width: 90%;
    height: 20vh;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);  
}

.contenedor-main-productos-articulos-imagen{
    width: 35%;
    height: 100%;
}
.contenedor-main-productos-articulos-imagen img{
    height: 100%;
    width: 100%;
}
.contenedor-main-productos-articulos-detalles{
    margin: auto;
    width: 65%;

    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
 
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.contenedor-main-productos-articulos-detalles a{
    color: var(--logo);
}

.contenedor-main-filtro{
    display: none;

}
.contenedor-main-filtro-button{
    color:white;
    padding: 0.5rem;
    border-radius: 0 25% 25% 0;
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 100;
    margin: 0;
}
.contenedor-main-filtro-button i{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.contenedor-main-filtro-lista{
    font-size: 100%;
    display: flex;
    flex-direction: column;
}
.contenedor-main-ofertas-titulo{
    width: 100%;
    text-align: center;
    color: var(--button);
    text-shadow: 2px 2px 6px var(--blanco);
}
.contenedor-main-ofertas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}
.contenedor-main-ofertas-articulos{
    width: 40%;
    padding: 0.5rem;

    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1rem;
    text-align: center;
    
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 1rem 0;
}

.contenedor-main-ofertas p{
    display: none;
}

.contenedor-main-ofertas img{
    width: 50%;
}
.contenedor-main-clases{
    border: solid 2px aliceblue;
    border-radius: 1rem;
    padding: 1rem;
}

@media (min-width:360px){
}
@media (min-width:768px){
    .contenedor-main-padre{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        width: 100%;
          
    }
    .contenedor-main-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
    }

    .contenedor-main-productos-articulos{
        width: 45%;
        margin: 1rem 0;
        height: 30vh;
    }
    
    .contenedor-main-filtro-button{
        display: none;       
    }

    .contenedor-main-filtro{
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
        border: dotted 2px var(--logoMain);
        background-color: var(--header);
        order: -1;
        margin: 1rem 0;
    }
    .contenedor-main-filtro-lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
    .contenedor-main-filtro-lista h2{
        margin: 0;
    }
    .contenedor-main-filtro-lista div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
    .contenedor-main-filtro-lista-boton-borrar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .contenedor-main-ofertas-articulos{
        width: 20%;
    }
}

@media (min-width:1000px){

}