
.contenedor-main{
    width: 100%;
    display: flex;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedor-main-productos{
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedor-main-rutas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.contenedor-main-productos-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 1rem 0;
    width: 80%;
    height: 18vh;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);  
}

.contenedor-main-productos-articulos-imagen{
    width: 35%;
    height: 100%;
}
.contenedor-main-productos-articulos-imagen img{
    padding: 5%;
    height: 100%;
    width: 100%;
}
.contenedor-main-productos-articulos-detalles{
    margin: auto;
    width: 65%;

    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
 
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.action-button a{
    color: var(--logo);
}

.filtro{
    
    position:sticky;
    display: none;
    left: 0;
    top: 10%;
    z-index: 100;
    margin: 0;
    width: 70%;
    height: 50%;
    max-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    border: solid 2px var(--logoMain);
    background-color: var(--header);
    order: -100;
    margin: 1rem 0;
    
}
.filtro-order{
    display: flex;
    flex-direction: column;
}
.filtro-button{
    display: block;
    color:white;
    padding: 0.5rem;
    border-radius: 0 25% 25% 0;
    position: fixed;
    left: 0;
    top: 30%;
    z-index: 101;
    margin: 0;
}
.filtro-movil-button i{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.filto{
    font-size: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.title{
    width: 100%;
    text-align: center;
}

.ofertas{
    border-top: 1px black solid;
    margin-top: 5%;
    width: 100%;
}
/* .contenedor-main-ofertas-titulo{
    width: 100%;
    text-align: center;
    color: var(--button);
    text-shadow: 2px 2px 6px var(--blanco);
}
.contenedor-main-ofertas{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor-main-ofertas-articulos{
    width: 100%;
    padding: 0.5rem;

    flex-wrap: wrap ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1rem;
    text-align: center;
    
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 1rem 0;
}

.contenedor-main-ofertas p{
    display: none;
}

.contenedor-main-ofertas img{
    width: 50%;
}
.contenedor-main-clases{
    border: solid 2px aliceblue;
    border-radius: 1rem;
    padding: 1rem;
} */

@media (min-width:360px){
}
@media (min-width:768px){
    .contenedor-main-padre{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        width: 100%;
          
    }
    .contenedor-main-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
    }

    .contenedor-main-productos-articulos{
        width: 45%;
        margin: 1rem 0;
        height: 30vh;
    }
    
    .filtro-button{
        display: none;       
    }

    .filtro{
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
        border: solid 2px var(--logoMain);
        background-color: var(--header);
        order: -1;
        margin: 1rem 0;
        
    }
    .filtro-form div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
     
    }
    .filtro-checkbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        list-style: none;
        line-height: 1.5rem;
    }
    .filtro-order{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        line-height: 1.5rem;
      
    }
    .filtro h3{
        margin: 0;
    }
 
    .filtro-buttons{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
        align-items: center;
        margin: 0.25rem;
    }
    .contenedor-main-ofertas-articulos{
        width: 20%;
    }
}

@media (min-width:1000px){

}