main{
    background-color: var(--main);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 3%;
}
    main form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 20px;
        background-color: var(--blanco);
        flex-grow : 0.3;
        align-items: center;
        box-shadow: 0px 0px 10px var(--sombra);
    }
        main form .foto{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            align-items: center;
        }
            main form .foto .imagenUsuario{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 5rem;
                height: 5rem;
                border: 0.5rem solid black;
                border-radius: 50%;
            }
                main form .foto .imagenUsuario img{ 
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    
                }
            main form .foto i.fa-solid.fa-circle-user{
                font-size: 5rem;
            }
            main form .foto .add{
                border: none;
                outline: none;
                background-color:var(--button);
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                position: absolute;
                right: -1.5rem;
                top: 0;
                padding: 0.1rem;
            }
                main form .foto .add label{
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bold;

                }
                    main form .foto  label input{
                        display: none;
                    }
            
            main form i.fa-solid.fa-circle-plus{
                color: var(--button);
                font-size: 1.5rem;

            }

        main form .campo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3%;
            border: 1px solid black;
            border-radius: 10px;
            width: 90%;
            margin-top: 2%;
            margin-bottom: 2%;
        }
            main form input{
                width: 80%;
                outline: none;
                border: none;
            }

        main form .botones{
            border: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 20px;
        }
            main form .botones button{
                border: none;
                outline: none;
                background-color: var(--button);
                color: var(--blanco);
                border-radius: 5px;
                padding: 10px;
                margin-left: 5px;
                margin-right: 5px;
            }

@media (max-width: 43rem){/* Media Breakpoints para celus */ 
}

@media (min-width: 43rem){/* Media Breakpoints para tablet */
}

@media (min-width: 62rem){/* Media Breakpoints para Monitor */
    main form i.fa-solid.fa-circle-plus:hover{
        color: var(--botonActivo);

    }

    main form .botones button:hover{
        background-color: var(--botonActivo);
    }
}

@media (min-width: 82rem){
}