<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %>

    <body>
        
        <%- include('./partials/header') %>

        <main>
        <div class="titulo"><h1 class="nombreLogo">Aluna Yoga</h1></div>
        <div class="logo"><img src="/images/logoPag/lotus_color.png" alt="logo"></div>
        
        <nav class="nav">
            
            <a href="/products" >Productos</a>
            <a href="/products/cart" >Carrito</a>
            <a href="/users/instructors">Instructores</a>
            <a href="/users/register" >Registro</a>
            <a href="/users/login" >Login</a>
            
        </nav>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>