<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %>

    <body>
        
        <%- include('./partials/header') %>
        <h2>Probando el merge parte 2</h2>
        <main>
            <section class="logo">
                <div class="textLogo">
                    <h1 class="nombreLogo">Aluna</h1>
                    <h2 class="nombreLogo">Yoga</h2>
                </div>
                <div class="imgLogo">
                    <img src="/images/logoPag/lotus_color.png" alt="logo">
                </div>
            </section>
        
            <section class="links">
                <nav class="nav">
                    <a href="/products" >Productos</a>
                    <a href="/products/create" >Crear Productos</a>
                    <a href="/cart" >Carrito</a>
                    <a href="/users/list">Usuarios</a>
                    <a href="/users/instructors">Instructores</a>
                    <a href="/users/register" >Registro</a>
                    <a href="/users/login" >Login</a>
                </nav>
            </section>
        </main>

    <%- include('./partials/footer') %>

    </body>
</html>