<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/home-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7fcb000871.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <div class="titulo"><h1>Aluna Yoga</h1></div>
    <div class="logo"><img src="/images/logo1.png" alt="logo"></div>
    
   <nav class="nav">
        <a href="/clases" >Clases</a>
        <a href="/productos" >Prodcutos</a>
        <a href="/profesores">Profesores</a>
        <a href="/register" >Registro</a>
        <a href="/login" >login</a>

    </nav>
</body>
</html>