<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Formulario de Registro</title>

        <link href="css/style.css" rel="stylesheet">
        <link href="css/login-style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/c3e5266b16.js" crossorigin="anonymous"></script>


        
    </head>
    </head>

    <body>
        <header>
        </header>

        <main>
            <form action="">
                <div class="nombre_y_usuario">
                    <h4>Usuario</h4>
                    <p><input class="campo" type="text" name="usuario" id="usuario" placeholder="Nombre de usuari@" required></p>
                </div>
                <div class="password">
                        <h4>Contraseña</h4>
                        <input class="campo" type="password" name="pasword" id="password" required>
                </div>
                <div class="botones">
                    <a href="/">
                        <button type="button">Enviar</button>
                    </a>
                </div>
            </form>
        </main>

        <footer>
        </footer>
    </body>
</html>