<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Formulario de Registro</title>

        <link href="css/normalize.css"  rel="stylesheet">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
        <link href="css/resgister-style.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/c3e5266b16.js" crossorigin="anonymous"></script>


        
    </head>
    </head>

    <body>
        <header>
            <nav>
                <ul class="listaMenu Izq">
                    <li><a href="/">Inicio <i class="fa-solid fa-house-chimney"></i></a></li>
                </ul>
                <ul class="listaMenu Der">
                    <li><a href="/productos">Productos <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="menuHamburguesa">
                <button><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="logo">
                <a  href="/">
                    <!-- <img  src="\images\logo1.png" width="100%" alt="Logo-Aluna-Yoga"> -->
                    <i class="fa-solid fa-om"></i>
                    <h1 class="nombreLogo">Aluna Yoga</h1>
                </a>
            </div>
                <form class="SearchBar">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
        </header>

        <main>            
            <form >
                <div class="foto">
                    <i class="fa-solid fa-circle-user"></i>
                    
                    <button class="add" type="button">
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>

                <div class="casilla">
                    <i class="fa-solid fa-user"></i>
                    <input class="nombre_y_apellido" type="text" name="nombre-y-apellido" id="nombre-y-apellido" placeholder="Nombre y Apellido" required>
                    <span class="feedback"></span>
                </div>

                <div class="casilla">
                    <i class="fa-solid fa-at"></i>
                    <input type="text" name="usuario" id="usuario" placeholder="e-mail" required>
                    <span class="feedback"></span>
                </div>
                
                <div class="casilla">
                    <i class="fa-solid fa-calendar-days"></i>
                    <input type="date" name="fecha-de-nacimiento" id="fecha-de-nacimiento" min="1920-01-01" max="2003-06-27" required>
                    <span class="feedback"></span>
                </div>

                <div class="casilla">
                    <i class="fa-solid fa-unlock"></i>
                    <input type="password" name="pasword" id="password" placeholder="Contraseña" required>
                    <span class="feedback"></span>
                </div>

                <div class="casilla">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="pasword" id="password" placeholder="Confirmar contraseña" required>
                    <span class="feedback"></span>
                </div>

                <div class="botones">
                    <a href="/">
                        <button type="button">Enviar</button>
                    </a>
                    <button type="reset" action="/">Borrar</button>
                </div>
            </form>
        </main>

        <footer>
            <div>aca va un footer</div>
        </footer>
    </body>
</html>