<header>
    <nav>
        <ul class="listaMenu Izq">
            <% if (locals.isLogged) { %>

                <li class="menu"><a href="/">Menú <i class="fa-solid fa-bars"></i></a></li>
                <li class="home"><a href="/">Home <i class="fa-solid fa-house-chimney"></i></a></li>
                <li class="products"><a href="/products">Productos <i class="fa-solid fa-basket-shopping"></i></a></li>
            
            <% }else{ %>

                <li class="login"><a href="/users/login">Login <i class="fa-solid fa-right-to-bracket"></i></a></li>
            
            <% } %>
        </ul>
        <div class="menuHamburguesa">
            <button><i class="fa-solid fa-bars"></i></button>
        </div>
    </nav>
    <div class="logo">
        <a  href="/">
            <div class="imgLogo">
                <img  src="/images/logoPag/lotus_border.png" width="100%" alt="Logo-Aluna-Yoga">
                <!-- <i class="fa-solid fa-om"></i> -->
            </div>
            <div class="textLogo">
                <h1 class="nombreLogo">Aluna</h1>
                <h2 class="nombreLogo">Yoga</h2>
            </div>
        </a>
    </div>
        <form class="SearchBar">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
</header>