<header>
    <nav>
        <ul class="listaMenu Izq">
            <li><a href="/">Inicio <i class="fa-solid fa-house-chimney"></i></a></li>
            <li><a href="/products">Productos <i class="fa-solid fa-basket-shopping"></i></a></li>
            <li><a href="/users/login">Login <i class="fa-solid fa-right-to-bracket"></i></a></li>
        </ul>
    </nav>
    <div class="menuHamburguesa">
        <button><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="logo">
        <a  href="/">
            <img  src="/images/logoPag/lotus_border.png" width="100%" alt="Logo-Aluna-Yoga">
            <!-- <i class="fa-solid fa-om"></i> -->
            <h1 class="nombreLogo">Aluna Yoga</h1>
        </a>
    </div>
        <form class="SearchBar">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
</header>