<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head') %>

    <body>
        
        <%- include('../partials/header') %>

        <main>
        <h2>En construccion</h2>
        <a href="/">inicio</a>
        
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>