<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head') %>

    <body>
        
        <%- include('../partials/header') %>

        <main>          
            <form >
                <div class="foto">
                    <i class="fa-solid fa-circle-user"></i>
                    
                    <button class="add" type="button">
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>

                <div class="casilla">
                    <i class="fa-solid fa-user"></i>
                    <input class="nombre_y_apellido" type="text" name="nombre-y-apellido" id="nombre-y-apellido" placeholder="Nombre y Apellido" minlength="3"required>
                    <span class="feedback"></span>
                </div>

                <div class="casilla">
                    <i class="fa-solid fa-at"></i>
                    <input type="email" name="email" id="email" placeholder="e-mail" required>
                    <span class="feedback"></span>
                </div>
                
                <div class="casilla">
                    <i class="fa-solid fa-calendar-days"></i>
                    <input type="date" name="fecha-de-nacimiento" id="fecha-de-nacimiento" min="1920-01-01" max="2003-06-27" required>
                    <span class="feedback"></span>
                </div>

                <div class="casilla">
                    <i class="fa-solid fa-unlock"></i>
                    <input type="password" name="pasword" id="password" placeholder="Contraseña" minlength="8" alt="strongPass" required>
                    <span class="feedback"></span>
                </div>

                <div class="casilla">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="pasword" id="password" placeholder="Confirmar contraseña" minlength="8" alt="strongPass" required>
                    <span class="feedback"></span>
                </div>

                <div class="botones">
                    <button type="submit">Enviar</button>
                    <button type="reset" action="/">Borrar</button>
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>
        
    </body>
</html>