<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Detalle Productos</title>
  <link href="style-prductos.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/detalle-producto-style.css">
</head>

<body> -->
<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %>

    <body>
        
        <%- include('./partials/header') %>

        <main>

  <footer>
    
  </footer>
</body>

</html>
