<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head') %>

    <body>
        
        <%- include('../partials/header') %>

    <main>
        <a href="/">
            <h2>Página en construcción</h2>
            <img src="\images\main\yoga_giphy.gif" alt="">
        </a>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>